@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

section {
  border: 1px black solid;
  box-sizing: border-box;
  margin: 50px;
  width: 310px;
  height: 500px;
}

h2, p {
  border: 1px solid black;
  box-sizing: border-box;
}

img {
  width: 300px;
}

#photo-template {
  display: none;
}
